div{
    width: 350px;
    display:inline;
}
#um{
    float: left;
    background-color: indigo;
    color: aliceblue;
    padding-bottom: 10px;
    margin: 2%;
}

#dois{
    float: left;
    background-color:rgb(226, 178, 89);
    color: black;
    padding-bottom: 10px;
}
#tres{
    float:left;
    background-color: darkkhaki;
    color: cornflowerblue;
}
#quatro{
    float: left;
    background-color: rgb(240, 181, 162);
    color: black;

}