#container{
    /*overflow: auto;*/
}

div.relativa{
    width: 200px;
    height: 200px;
    background-color: slategray;
    color: azure;
    text-align: center;
    text-decoration: overline;
    font-size: larger;
    font-style: oblique;
    font-family: monospace;
    position: relative;
    top: 30px;
    left: 350px;
    margin: 3px;
    display: flex;
}

div.absoluta{
    width: 150px;
    height: 300px;
    background-color: moccasin;
    color: brown;
    font-size: small;
    font-style: italic;
    font-family: times;
    text-decoration: none;
    position: absolute;
    top:0px;
    left: 0px;
    margin: 10px;
    display: flex;
}

div.fixa{
    width: 300px;
    height: 150px;
    background-color: crimson;
    color: antiquewhite;
    font-family: 'Lucida Sans';
    font-style: oblique;
    text-decoration: wavy;
    font-size: medium;
    position: fixed;
    top:50px;
    left:200px;
    display: flex;
}