body{
    background-color: blueviolet;
}

#conteudo{
    background-color:lavender;
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

figure{
    border: 2px darkorchid dotted;
    text-align: center;
    display: inline-block;
    padding: 20px;
}

/* para todo * com um atributo
*/
* [src$=".jfif"]{
    width: 100px;
    height: 100px;
}

* [src$=".gif"]{
    width: 300px;
    height: 500px ;
}

* [src*="rosa"]{
    width: 200px;
    height: 200px;
}

/*Paragrafo e figure na mesma linha
   Precisa configurar a largura e altura
   do p e colocar o display: inline-block
   no figure colocar display: inline-block
*/
p.conf{
    width: 300px;
    height: 200px;
    display: inline-block;
}

* [href$="/"]{
    /*removi o sublinhado dos links que terminam 
    com a barra*/
    text-decoration: none;
}

* [href*="agro"]{
    color: brown;
}

* [href*="pinterest"]{
    color: darkorange;
}

#cabecalho{
    padding:2%;
    background-color: lightpink;
}

#navegacao{
    color: coral;
    padding: 2%;
    border:2px;
    border-style: solid;
    border-color: darkmagenta;
}

nav a{
    text-decoration: none;
    color:coral;
    padding: 2%;
}

/*pseudo-classe*/
nav a:hover{
    /*link dentro da nav, quando passar o mouse sobre ele*/
    text-decoration: underline;
    padding: 2%;
    background-color: rgba(10, 30,50, 30%);
    color: cadetblue;
    border-radius: 10%;
}

#rodape{
    padding:2%;
    background-color: lightpink;
}

* [href*="agro"]:hover{
    text-decoration: underline;
}

* [href*="pinterest"]:hover{
    text-decoration: underline;
}

figure:active{
    color:crimson;
}

nav a:visited{
    color:chartreuse;
}

nav a:focus{
    background-color: darkgray;
    padding: 2%;
    color:crimson;
}


